* {
  font-family: Outfit;
  color: hsl(215, 51%, 70%);
}
body {
  background: #0c192c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  height: 475px;
  background: #14263e;
  padding: 20px;
  border-radius: 10px;
}

p {
  width: 251px;
  font-weight: 100;
}

.inline {
  display: inline;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

#img-equilibrium {
  border-radius: 10px;
}

h3 {
  color: cyan;
}

p {
  color: hsl(215, 51%, 70%);
}

#eth {
  color: cyan;
}

label {
  font-size: 14px;
}

span {
  font-weight: 100;
}

.cyan {
  color: cyan;
  
}

.transform {
  position: relative;
  top: -3px;
}

hr {
  border-color: hsl(215, 32%, 27%);
  margin-top: 20px;
  margin-bottom: 20px;
}

#img-avatar {
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  top: 5px;
  margin-right: 10px;
}